<h1 class='txt-c'>Welcome to the St. Hasselhoff Environment Pool (SHEP)</h1>

<span class="mrl">Organize by: </span>
<span class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default selected">State</button>
  <button type="button" class="btn btn-default">Team</button>
</span>

<!-- State Organized List -->
<div class='page' id='state-page'>
  <h2>Ready</h2>
  <table class="table table-data table-light">
    <thead>
      <tr>
        <th class='col-md-12'>Environment</th>
        <th class='col-md-6'>IAAS</th>
        <th class='col-md-6'>PCF Version</th>
      </tr>
    </thead>
    <tbody>
      <% @ready_envs.each do |env| %>
        <tr>
          <td>
            <a href="/env/<%= env.name %>" class="link-text"><%= env.name %></a>
          </td>
          <td><%= env.iaas %></td>
          <td><%= env.om_version %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Grounded</h2>
  <table class="table table-data table-light">
    <thead>
      <tr>
        <th class='col-md-6'>Environment</th>
        <th class='col-md-6'>Team</th>
        <th class='col-md-6'>IAAS</th>
        <th class='col-md-6'>PCF Version</th>
      </tr>
    </thead>
    <tbody>
      <% @grounded_envs.each do |env| %>
        <tr>
          <td>
            <a href="/env/<%= env.name %>" class="link-text"><%= env.name %></a>
          </td>
          <td><%= env.team.try(:name) %></td>
          <td><%= env.iaas %></td>
          <td><%= env.om_version %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Redeploying</h2>
  <table class="table table-data table-light">
    <thead>
      <tr>
        <th class='col-md-12'>Environment</th>
        <th class='col-md-6'>IAAS</th>
        <th class='col-md-6'>PCF Version</th>
      </tr>
    </thead>
    <tbody>
      <% @redeploy_envs.each do |env| %>
        <tr>
          <td>
            <a href="/env/<%= env.name %>" class="link-text"><%= env.name %></a>
          </td>
          <td><%= env.iaas %></td>
          <td><%= env.om_version %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Claimed in CI</h2>
  <table class="table table-data table-light">
    <thead>
      <tr>
        <th class='col-md-12'>Environment</th>
        <th class='col-md-6'>IAAS</th>
        <th class='col-md-6'>PCF Version</th>
      </tr>
    </thead>
    <tbody>
      <% @claimed_envs.each do |env| %>
        <tr>
          <td>
            <a href="/env/<%= env.name %>" class="link-text"><%= env.name %></a>
          </td>
          <td><%= env.iaas %></td>
          <td><%= env.om_version %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Team Organized List -->
<div class='page' id='team-page'>
  <% @teams.each do |team| %>
    <h2><%= team.name %></h2>
    <table class="table table-data table-light">
      <thead>
        <tr>
          <th class='col-md-12'>Environment</th>
          <th class='col-md-6'>IAAS</th>
          <th class='col-md-6'>PCF Version</th>
        </tr>
      </thead>
      <tbody>
        <% team.environments.each do |env| %>
          <tr>
            <td>
              <a href="/env/<%= env.name %>" class="link-text"><%= env.name %></a>
            </td>
            <td><%= env.iaas %></td>
            <td><%= env.om_version %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
