
<div class="panel panel-simple bg-neutral-11">
  <div class="panel-body">
<h1 class="mbxl">
  <img alt="<%= @env.name %>" class="img-circle avatar" height="80" src="<%= @env.image || Environment::IMAGE_MAP[@env.name] || image_path('placeholder.png')%>" width="80">
  <%= @env.name %>: <%= @env.iaas %> - <%= @env.om_version %>
</h1>
    <table class="table table-key-value mtl">
      <tbody>
        <tr>
          <th class="col-md-8">State</th>
          <td class="col-md-16"><%= @env.state %></td>
        </tr>
        <tr>
          <th class="col-md-8">Team</th>
          <td class="col-md-16"><%= @env.team.try(:name) %></td>
        </tr>
        <tr>
          <th class="col-md-8">Last Committer</th>
          <td class="col-md-16"><%= @env.user.username %></td>
        </tr>
        <tr>
          <th class="col-md-8">Last Commit Message</th>
          <td class="col-md-16"><%= @env.last_commit_message %></td>
        </tr>
        <tr>
          <th class="col-md-8">Last Commit Timestamp</th>
          <td class="col-md-16"><%= @env.last_commit_timestamp %></td>
        </tr>
        <tr>
          <th class="col-md-8">Ops Manager URL</th>
          <td class="col-md-16">
            <a href="<%= @env.ops_mgr_url %>" target='_blank'><%= @env.ops_mgr_url %></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
